.buttonToScrollUp {
  position: fixed;
  top: 80%;
  left: 94%;
  cursor: pointer;
  border: none;
  z-index: 10000;
}
.buttonToScrollUp img {
  width: 70px;
  height: auto;
}

@media (max-width: 1322px) {
  .buttonToScrollUp {
    left: 88%;
  }
  .buttonToScrollUp img {
    width: 60px;
    height: auto;
  }
}

@media (max-width: 568px) {
  .buttonToScrollUp {
    left: 82%;
  }
}