.wrapper {
  width: 80%;
  margin: 0 auto;
  .productLict {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 30px auto;

    .productLict__productCard {
      list-style: none;
      display: flex;
      position: relative;
      width: 100%;
      height: 200px;
      background-color: white;
      margin-bottom: 15px;
      margin: 15px auto;
      border-radius: 20px;
      .productCard__photoWrap {
        position: relative;
        width: 200px;
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;
        .photoProduct {
          width: 100%;
          height: 100%;
          transition: all 0.3s;
          z-index: 999;
          object-fit: cover;
        }
        .buttonToGoProductPage {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          background-color: white;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: none;
          opacity: 0;
          z-index: 1000;
          transition: all 0.5s;
          img {
            width: 60%;
            height: 60%;
            opacity: 0;
            transition: all 0.5s;
            &:hover {
              width: 90%;
              height: 90%;
            }
          }
        }
        &:hover {
          .photoProduct {
            filter: blur(3px);
          }
          .buttonToGoProductPage {
            opacity: 1;
            img {
              opacity: 1;
            }
          }
        }
      }

      .productCard__removeProduct {
        position: absolute;
        top: 8px;
        left: 93%;
        border: none;
        width: 50px;
        height: auto;
        font-size: calc(19px + 3 * (100vw / 1872));
      }
      .productCard__productInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 30px;
        h3 {
          color: #5c4343;
          font-size: calc(19px + 3 * (100vw / 1872));
          margin-bottom: 7px;
        }
        p {
          font-size: calc(18px + 2 * (100vw / 1872));
          line-height: 26px;
        }
        .price {
          font-weight: 600;
        }
      }
    }
  }

  .cart_total {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 20px;
    p {
      font-size: calc(20px + 4 * (100vw / 1872));
      margin-bottom: 10px;
    }
    .cart_total__placingAnOrder {
      background-color: #5c4343;
      width: 230px;
      height: 40px;
      padding: 5px 8px;
      border: none;
      border-radius: 10px;
      font-size: calc(18px + 2 * (100vw / 1872));
      color: white;
    }
  }
}

.inCaseOfAnEmptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 60px;
  left: 0;
  h2 {
    color: #5c4343;
    font-size: calc(23px + 7 * (100vw / 1872));
  }
  p {
    font-size: calc(21px + 5 * (100vw / 1872));
  }
  img {
    width: 260px;
    height: auto;
  }
}
