.wrapper {
  width: 80%;
  margin: 0 auto;
}
.wrapper .productLict {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  margin: 30px auto;
}
.wrapper .productLict .productLict__productCard {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
  background-color: white;
  margin-bottom: 15px;
  margin: 15px auto;
  border-radius: 20px;
}
.wrapper .productLict .productLict__productCard .productCard__photoWrap {
  position: relative;
  width: 200px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.wrapper .productLict .productLict__productCard .productCard__photoWrap .photoProduct {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 999;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .productLict .productLict__productCard .productCard__photoWrap .buttonToGoProductPage {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.wrapper .productLict .productLict__productCard .productCard__photoWrap .buttonToGoProductPage img {
  width: 60%;
  height: 60%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.wrapper .productLict .productLict__productCard .productCard__photoWrap .buttonToGoProductPage img:hover {
  width: 90%;
  height: 90%;
}
.wrapper .productLict .productLict__productCard .productCard__photoWrap:hover .photoProduct {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}
.wrapper .productLict .productLict__productCard .productCard__photoWrap:hover .buttonToGoProductPage {
  opacity: 1;
}
.wrapper .productLict .productLict__productCard .productCard__photoWrap:hover .buttonToGoProductPage img {
  opacity: 1;
}
.wrapper .productLict .productLict__productCard .productCard__removeProduct {
  position: absolute;
  top: 8px;
  left: 93%;
  border: none;
  width: 50px;
  height: auto;
  font-size: calc(19px + 0.1602564103vw);
}
.wrapper .productLict .productLict__productCard .productCard__productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px;
}
.wrapper .productLict .productLict__productCard .productCard__productInfo h3 {
  color: #5c4343;
  font-size: calc(19px + 0.1602564103vw);
  margin-bottom: 7px;
}
.wrapper .productLict .productLict__productCard .productCard__productInfo p {
  font-size: calc(18px + 0.1068376068vw);
  line-height: 26px;
}
.wrapper .productLict .productLict__productCard .productCard__productInfo .price {
  font-weight: 600;
}
.wrapper .cart_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 20px;
}
.wrapper .cart_total p {
  font-size: calc(20px + 0.2136752137vw);
  margin-bottom: 10px;
}

.inCaseOfAnEmptyCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 60px;
  left: 0;
}
.inCaseOfAnEmptyCart h2 {
  color: #5c4343;
  font-size: calc(23px + 0.3739316239vw);
  margin-bottom: 10px;
}
.inCaseOfAnEmptyCart p {
  font-size: calc(21px + 0.2670940171vw);
}
.inCaseOfAnEmptyCart img {
  width: 260px;
  height: auto;
}