.customButton {
  background-color: #5c4343;
  color: white;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  font-size: calc(18px + 2 * (100vw / 1872));
  border-radius: 15px;
  border: 2px solid transparent;
  transition: all 0.6s;
}
.customButton:hover {
  border: 2px solid #5c4343;
  font-size: calc(19px + 3 * (100vw / 1872));
  color: #5c4343;
  font-weight: 600;
  background-color: white;
}
