.errorBlock {
  position: relative;
  width: 50%;
  margin: 50px auto;
}
.errorBlock h1 {
  color: #5c4343;
  font-size: calc(23px + 0.3739316239vw);
  font-weight: 600;
}
.errorBlock h2 {
  font-size: calc(21px + 0.2670940171vw);
  color: #8f7979;
}
.errorBlock p {
  font-size: calc(19.5px + 0.186965812vw);
  color: #8f7979;
}
.errorBlock button {
  background-color: #5c4343;
  color: white;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  font-size: calc(18px + 0.1068376068vw);
  border-radius: 20px;
  border: 2px solid transparent;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.errorBlock button:hover {
  border: 2px solid #5c4343;
  font-size: calc(19px + 0.1602564103vw);
  color: #5c4343;
  font-weight: 600;
  background-color: white;
}
.errorBlock img {
  position: absolute;
  top: 60px;
  left: 30%;
}