.presentingUnit {
  position: relative;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-attachment: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 180px auto;
}
.presentingUnit .decorationBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  border-radius: inherit;
}
.presentingUnit .infoBlock {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 60%;
  max-width: 900px;
  min-width: 300px;
}
.presentingUnit .infoBlock h1 {
  color: white;
  font-size: calc(34px + 0.9414225941vw);
  font-weight: 600;
  margin-bottom: 30px;
}
.presentingUnit .infoBlock h2 {
  font-size: calc(22px + 0.3138075314vw);
  color: white;
  font-weight: 600;
  max-width: 90%;
  margin-bottom: 20px;
  text-align: left;
}
.presentingUnit .infoBlock button {
  width: 80%;
  max-width: 300px;
  min-width: 150px;
  height: 60px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: calc(20px + 0.2092050209vw);
  text-shadow: 0 0 5px white;
  margin-top: 20px;
}

.listRecomendedProduct {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 1700px;
  min-width: 0;
  margin: 0 auto 180px auto;
}
.listRecomendedProduct h2 {
  font-size: calc(32px + 0.8368200837vw);
  color: #be9292;
  font-weight: 600;
}
.listRecomendedProduct p {
  font-size: calc(22px + 0.3138075314vw);
  width: 80%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}
.listRecomendedProduct .listRecomendedProduct__back_decor {
  position: absolute;
  z-index: -1;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}
.listRecomendedProduct .listRecomendedProduct__back_decor.hidden {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
.listRecomendedProduct .listRecomendedProduct__back_decor img {
  position: absolute;
}
.listRecomendedProduct .listRecomendedProduct__back_decor img:nth-child(1) {
  top: -130px;
  left: -160px;
  width: 425px;
  height: auto;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transform: rotate(-9.77deg);
          transform: rotate(-9.77deg);
}
.listRecomendedProduct .listRecomendedProduct__back_decor img:nth-child(2) {
  top: 200px;
  left: 1510px;
  width: 210.38px;
  height: auto;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: rotate(24.27deg);
          transform: rotate(24.27deg);
}
.listRecomendedProduct .listRecomendedProduct__back_decor img:nth-child(3) {
  top: 480px;
  left: 450px;
  width: 300px;
  height: auto;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transform: rotate(40.27deg);
          transform: rotate(40.27deg);
}
.listRecomendedProduct .listRecomendedProduct__back_decor img:nth-child(4) {
  width: 265.61px;
  height: auto;
  left: 800px;
  top: -150px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: rotate(15.53deg);
          transform: rotate(15.53deg);
}
.listRecomendedProduct .listRecomendedProduct__back_decor img:nth-child(5) {
  width: 375px;
  height: auto;
  left: -130px;
  top: 820px;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  -webkit-transform: rotate(17.96deg);
          transform: rotate(17.96deg);
}
.listRecomendedProduct .listRecomendedProduct__back_decor img:nth-child(6) {
  width: 300px;
  top: 450px;
  left: 1390px;
  -webkit-filter: blur(1.8px);
          filter: blur(1.8px);
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}
.listRecomendedProduct .listRecomendedProduct__back_decor img:nth-child(7) {
  width: 280px;
  height: auto;
  left: -280px;
  top: 400px;
  -webkit-filter: blur(1.7px);
          filter: blur(1.7px);
}
.listRecomendedProduct .listRecomendedProduct__back_decor img:nth-child(8) {
  top: 800px;
  left: 1550px;
  width: 400px;
}
@-webkit-keyframes fadeInSlide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInSlide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.listRecomendedProduct .listProduct,
.listRecomendedProduct .swipper_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  margin: 50px auto;
  z-index: 99;
}
.listRecomendedProduct .listProduct .listProduct_elem,
.listRecomendedProduct .listProduct .swipper_slide,
.listRecomendedProduct .swipper_conteiner .listProduct_elem,
.listRecomendedProduct .swipper_conteiner .swipper_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23%;
  max-width: 370px;
  min-width: 300px;
  height: 520px;
  padding: 15px 20px;
  list-style: none;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#be9292), color-stop(40%, #e6c6c6), color-stop(80%, #f8eeee), to(white));
  background: linear-gradient(to bottom, #be9292 0%, #e6c6c6 40%, #f8eeee 80%, white 100%);
  overflow: hidden;
  margin: 20px 10px;
}
.listRecomendedProduct .listProduct .listProduct_elem .wrapperByPhoto,
.listRecomendedProduct .listProduct .swipper_slide .wrapperByPhoto,
.listRecomendedProduct .swipper_conteiner .listProduct_elem .wrapperByPhoto,
.listRecomendedProduct .swipper_conteiner .swipper_slide .wrapperByPhoto {
  width: 100%;
  height: 240px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 12px #a37575;
          box-shadow: 5px 5px 12px #a37575;
  margin-bottom: 10px;
  cursor: pointer;
}
.listRecomendedProduct .listProduct .listProduct_elem .wrapperByPhoto img,
.listRecomendedProduct .listProduct .swipper_slide .wrapperByPhoto img,
.listRecomendedProduct .swipper_conteiner .listProduct_elem .wrapperByPhoto img,
.listRecomendedProduct .swipper_conteiner .swipper_slide .wrapperByPhoto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.listRecomendedProduct .listProduct .listProduct_elem .wrapperByPhoto img:hover,
.listRecomendedProduct .listProduct .swipper_slide .wrapperByPhoto img:hover,
.listRecomendedProduct .swipper_conteiner .listProduct_elem .wrapperByPhoto img:hover,
.listRecomendedProduct .swipper_conteiner .swipper_slide .wrapperByPhoto img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.listRecomendedProduct .listProduct .listProduct_elem h3,
.listRecomendedProduct .listProduct .swipper_slide h3,
.listRecomendedProduct .swipper_conteiner .listProduct_elem h3,
.listRecomendedProduct .swipper_conteiner .swipper_slide h3 {
  text-align: center;
  font-size: calc(19px + 0.1569037657vw);
  color: #885959;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.listRecomendedProduct .listProduct .listProduct_elem h3:hover,
.listRecomendedProduct .listProduct .swipper_slide h3:hover,
.listRecomendedProduct .swipper_conteiner .listProduct_elem h3:hover,
.listRecomendedProduct .swipper_conteiner .swipper_slide h3:hover {
  color: #412f2f;
}
.listRecomendedProduct .listProduct .listProduct_elem .dataProduct,
.listRecomendedProduct .listProduct .swipper_slide .dataProduct,
.listRecomendedProduct .swipper_conteiner .listProduct_elem .dataProduct,
.listRecomendedProduct .swipper_conteiner .swipper_slide .dataProduct {
  font-size: calc(18px + 0.1046025105vw);
  color: #6e5454;
  height: 30px;
  line-height: 1.15em;
}
.listRecomendedProduct .listProduct .listProduct_elem .price,
.listRecomendedProduct .listProduct .swipper_slide .price,
.listRecomendedProduct .swipper_conteiner .listProduct_elem .price,
.listRecomendedProduct .swipper_conteiner .swipper_slide .price {
  font-size: calc(19px + 0.1569037657vw);
  font-weight: 600;
  color: #6e5454;
  margin: 10px auto;
}

.presentGalery {
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}
.presentGalery .presentGalery_textBlock {
  text-align: center;
  width: 80%;
  margin: 0 auto 55px auto;
}
.presentGalery .presentGalery_textBlock h2 {
  font-size: calc(32px + 0.8368200837vw);
  color: #be9292;
  font-weight: 600;
}
.presentGalery .presentGalery_textBlock p {
  font-size: calc(22px + 0.3138075314vw);
}
.presentGalery .presentGalery_listElems,
.presentGalery .swipper_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 90%;
}
.presentGalery .presentGalery_listElems .listElems_elem,
.presentGalery .presentGalery_listElems .swipper_slide,
.presentGalery .swipper_conteiner .listElems_elem,
.presentGalery .swipper_conteiner .swipper_slide {
  position: relative;
  width: 15%;
  max-width: 350px;
  min-width: 320px;
  height: 550px;
  list-style: none;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.presentGalery .presentGalery_listElems .listElems_elem img,
.presentGalery .presentGalery_listElems .swipper_slide img,
.presentGalery .swipper_conteiner .listElems_elem img,
.presentGalery .swipper_conteiner .swipper_slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.presentGalery .presentGalery_listElems .listElems_elem .infoProduct,
.presentGalery .presentGalery_listElems .swipper_slide .infoProduct,
.presentGalery .swipper_conteiner .listElems_elem .infoProduct,
.presentGalery .swipper_conteiner .swipper_slide .infoProduct {
  position: absolute;
  top: 10%;
  left: 50px;
  width: 80%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 0;
}
.presentGalery .presentGalery_listElems .listElems_elem .infoProduct h3,
.presentGalery .presentGalery_listElems .swipper_slide .infoProduct h3,
.presentGalery .swipper_conteiner .listElems_elem .infoProduct h3,
.presentGalery .swipper_conteiner .swipper_slide .infoProduct h3 {
  font-size: calc(22px + 0.3138075314vw);
  color: white;
  font-weight: 700;
  margin-bottom: 7px;
}
.presentGalery .presentGalery_listElems .listElems_elem .infoProduct p,
.presentGalery .presentGalery_listElems .swipper_slide .infoProduct p,
.presentGalery .swipper_conteiner .listElems_elem .infoProduct p,
.presentGalery .swipper_conteiner .swipper_slide .infoProduct p {
  font-size: calc(18px + 0.1046025105vw);
  font-weight: 600;
  width: 230px;
  color: white;
  text-align: left;
}
.presentGalery .presentGalery_listElems .listElems_elem:hover,
.presentGalery .presentGalery_listElems .swipper_slide:hover,
.presentGalery .swipper_conteiner .listElems_elem:hover,
.presentGalery .swipper_conteiner .swipper_slide:hover {
  width: 350px;
}
.presentGalery .presentGalery_listElems .listElems_elem:hover img,
.presentGalery .presentGalery_listElems .swipper_slide:hover img,
.presentGalery .swipper_conteiner .listElems_elem:hover img,
.presentGalery .swipper_conteiner .swipper_slide:hover img {
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.presentGalery .presentGalery_listElems .listElems_elem:hover .infoProduct,
.presentGalery .presentGalery_listElems .swipper_slide:hover .infoProduct,
.presentGalery .swipper_conteiner .listElems_elem:hover .infoProduct,
.presentGalery .swipper_conteiner .swipper_slide:hover .infoProduct {
  opacity: 1;
}

.featuring {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 250px auto;
}
.featuring h2 {
  font-size: calc(32px + 0.8368200837vw);
  color: #be9292;
  font-weight: 600;
  text-align: center;
}
.featuring .featuring__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  top: 50px;
}
.featuring .featuring__content .imeg {
  width: 50%;
  height: auto;
}
.featuring .featuring__content .content_wrapperElem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  min-width: 300px;
}
.featuring .featuring__content .content_wrapperElem .wrapperElem_elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: auto;
  margin-bottom: 40px;
}
.featuring .featuring__content .content_wrapperElem .wrapperElem_elem img {
  width: 17%;
  height: 15%;
  max-width: 150px;
  max-height: 120px;
  min-width: 90px;
  min-height: 50px;
  margin-right: 25px;
}
.featuring .featuring__content .content_wrapperElem .wrapperElem_elem .elem__textContent {
  text-align: left;
}
.featuring .featuring__content .content_wrapperElem .wrapperElem_elem .elem__textContent h3 {
  font-size: calc(24px + 0.4184100418vw);
  color: #be9292;
}
.featuring .featuring__content .content_wrapperElem .wrapperElem_elem .elem__textContent p {
  font-size: calc(22px + 0.2615062762vw);
  max-width: 550px;
  min-width: 300px;
}

.reviews {
  width: 80%;
  height: auto;
  margin: 0 auto 250px auto;
  padding: 70px 0;
  border-radius: 15px;
}
.reviews h2 {
  text-align: center;
  font-size: calc(32px + 0.8368200837vw);
  color: #be9292;
  font-weight: 600;
  margin-bottom: 50px;
}
.reviews .listBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews .listBlock .listBlock_comentBlock {
  width: 300px;
  height: 390px;
  background-color: white;
  margin: 0 50px 30px 0;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 2px 10px rgb(165, 162, 162);
          box-shadow: 4px 2px 10px rgb(165, 162, 162);
  border-radius: 15px;
}
.reviews .listBlock .listBlock_comentBlock .userAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.reviews .listBlock .listBlock_comentBlock .userAccount .wrapperPhoto {
  width: 17%;
  padding-bottom: 17%;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.reviews .listBlock .listBlock_comentBlock .userAccount .wrapperPhoto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.reviews .listBlock .listBlock_comentBlock .userAccount h3 {
  font-size: calc(17px + 0.0523012552vw);
  font-weight: 600;
}
.reviews .listBlock .listBlock_comentBlock p {
  font-size: calc(18px + 0.1046025105vw);
  padding: 0 30px;
  text-align: left;
  margin-left: 7px;
}

.ourLocation {
  width: 80%;
  height: auto;
  margin: 80px auto;
}
.ourLocation .ourLocation_infoLocation {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.ourLocation .ourLocation_infoLocation h2 {
  font-size: calc(32px + 0.8368200837vw);
  color: #be9292;
  font-weight: 600;
}
.ourLocation .ourLocation_infoLocation p {
  font-size: calc(19px + 0.0523012552vw);
  margin-bottom: 20px;
}
.ourLocation .ourLocation_locationPopularEstablishm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 15px;
  width: 70%;
}
.ourLocation .ourLocation_locationPopularEstablishm iframe {
  width: 100%;
  height: 360px;
  border: none;
  border-radius: 15px;
  margin: 0 30px;
}
.ourLocation .ourLocation_locationPopularEstablishm .contactDetails {
  margin-left: 60px;
  line-height: 40px;
}
.ourLocation .ourLocation_locationPopularEstablishm .contactDetails .contactDetails__elem {
  margin-bottom: 25px;
}
.ourLocation .ourLocation_locationPopularEstablishm .contactDetails .contactDetails__elem .elem__titleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ourLocation .ourLocation_locationPopularEstablishm .contactDetails .contactDetails__elem .elem__titleBlock h3 {
  text-align: left;
  color: #be9292;
  font-size: calc(19px + 0.1569037657vw);
}
.ourLocation .ourLocation_locationPopularEstablishm .contactDetails .contactDetails__elem .elem__titleBlock img {
  width: 40px;
  height: auto;
  margin-right: 15px;
}
.ourLocation .ourLocation_locationPopularEstablishm .contactDetails .contactDetails__elem p {
  text-align: left;
  font-size: calc(19px + 0.1569037657vw);
}

@media (max-width: 1130px) {
  .ourLocation .ourLocation_infoLocation {
    text-align: left;
  }
  .ourLocation .ourLocation_locationPopularEstablishm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 1112px) {
  .featuring .featuring__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .featuring .featuring__content .imeg {
    display: none;
  }
  .featuring .featuring__content .content_wrapperElem {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .listRecomendedProduct .listRecomendedProduct__back_decor img {
    opacity: 0.7;
  }
}
@media (max-width: 424px) {
  .featuring .featuring__content .content_wrapperElem .wrapperElem_elem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}