$defoltFsz: calc(27px + 11 * (100vw / 1872));

.presentingUnit {
  position: relative;
  width: 85%;
  height: 750px;
  border-radius: 15px;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  margin: 40px auto 180px auto;
  .decorationBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    border-radius: inherit;
  }

  .infoBlock {
    position: absolute;
    top: 20%;
    left: 10%;

    h1 {
      color: white;
      font-size: calc(34px + 18 * (100vw / 1872));
      font-weight: 600;
      margin-bottom: 30px;
    }

    h2 {
      font-size: calc(23px + 7 * (100vw / 1872));
      color: white;
      font-weight: 600;
      width: 650px;
      margin-bottom: 20px;
    }

    button {
      width: 300px;
      height: 60px;
      border: 2px solid white;
      border-radius: 10px;
      background-color: transparent;
      color: white;
      font-size: calc(20px + 4 * (100vw / 1872));
      text-shadow: 0 0 5px white;
      margin-top: 20px;
    }
  }
}

.listRecomendedProduct {
  text-align: center;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto 180px auto;

  h2 {
    font-size: $defoltFsz;
    font-weight: 600;
    margin-bottom: 10px;
    color: #6e5454;
  }

  p {
    font-size: calc(17px + 5 * (100vw / 1872));
    width: 80%;
    margin: 0 auto;
  }

  .listProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 50px auto;

    .listProduct_elem {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 370px;
      height: 500px;
      padding: 15px 20px;
      list-style: none;
      border-radius: 15px;
      background: linear-gradient(to bottom, #977979 2%, white 98%);
      overflow: hidden;
      margin: 20px 10px;

      .wrapperByPhoto {
        width: 100%;
        height: 210px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 5px 5px 12px #8a7e7e;
        margin-bottom: 10px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.6s;

          &:hover {
            transform: scale(1.4);
          }
        }
      }
      h3 {
        text-align: center;
        font-size: calc(19px + 3 * (100vw / 1872));
        color: #6e5454;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
          color: #412f2f;
        }
      }

      .dataProduct {
        font-size: calc(18px + 2 * (100vw / 1872));
        color: #6e5454;
        height: 30px;
        line-height: 1.2em;
      }

      .price {
        font-size: calc(19px + 3 * (100vw / 1872));
        font-weight: 600;
        color: #6e5454;
        margin: 15px auto;
      }
    }
  }
}

.presentGalery {
  width: 100%;
  height: auto;
  margin-bottom: 200px;

  .presentGalery_textBlock {
    text-align: center;
    width: 80%;
    margin: 0 auto 55px auto;
    h2 {
      font-size: $defoltFsz;
      font-weight: 600;
      margin-bottom: 10px;
      color: #6e5454;
    }
    p {
      font-size: calc(17px + 5 * (100vw / 1872));
    }
  }

  .presentGalery_listElems {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: 90%;

    .listElems_elem {
      position: relative;
      border-radius: 10px;
      width: 306px;
      height: 550px;
      list-style: none;
      overflow: hidden;
      transition: all 0.6s;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.6s;
      }

      .infoProduct {
        position: absolute;
        top: 10%;
        left: 50px;
        width: 80%;
        transition: all 0.6s;
        opacity: 0;

        h3 {
          font-size: calc(22px + 6 * (100vw / 1872));
          color: #f3d1d1;
          font-weight: 700;
          margin-bottom: 7px;
        }

        p {
          font-size: calc(18px + 2 * (100vw / 1872));
          font-weight: 600;
          width: 230px;
          color: white;
          text-align: left;
        }
      }

      &:hover {
        width: 400px;
        img {
          filter: blur(8px);
          transform: scale(1.2);
        }

        .infoProduct {
          opacity: 1;
        }
      }
    }
  }
}

.featuring {
  width: 90%;
  height: auto;
  margin: 0 auto 250px auto;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: $defoltFsz;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
    color: #6e5454;
  }

  .featuring_wrapperElem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .featuring_elem {
      list-style: none;
      width: 400px;
      height: 400px;
      text-align: center;
      margin: 0 10px;

      h3 {
        font-size: calc(22px + 6 * (100vw / 1872));
      }

      img {
        width: 45%;
        margin: 10px auto;
      }

      p {
        font-size: calc(20px + 4 * (100vw / 1872));
        width: 240px;
        margin: 0 auto;
      }
    }
  }
}

.reviews {
  width: 80%;
  height: auto;
  margin: 0 auto 250px auto;
  padding: 70px 0;
  background-color: #b3abab;
  border-radius: 15px;

  h2 {
    font-size: $defoltFsz;
    font-weight: 600;
    text-align: center;
    color: #6e5454;
    margin-bottom: 30px;
  }

  .listBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .listBlock_comentBlock {
      width: 300px;
      height: 390px;
      background-color: white;
      margin: 0 50px;
      padding: 15px;
      box-sizing: border-box;
      box-shadow: 4px 2px 10px rgb(165, 162, 162);
      border-radius: 15px;

      .userAccount {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .wrapperPhoto {
          width: 17%;
          padding-bottom: 17%;
          margin-right: 15px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        h3 {
          font-size: calc(17px + 1 * (100vw / 1872));
          font-weight: 600;
        }
      }

      p {
        font-size: calc(18px + 2 * (100vw / 1872));
        padding: 0 30px;
        text-align: left;
        margin-left: 7px;
      }
    }
  }
}

.ourLocation {
  width: 80%;
  height: auto;
  margin: 80px auto;

  .ourLocation_infoLocation {
    margin: 0 auto;
    width: 70%;
    h2 {
      font-size: $defoltFsz;
      font-weight: 600;
      color: #6e5454;
      margin-bottom: 10px;
    }
    p {
      font-size: calc(19px + 1 * (100vw / 1872));
      margin-bottom: 20px;
    }
  }

  .ourLocation_locationPopularEstablishm {
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 15px;
    background-color: #b3abab;
    width: 70%;

    iframe {
      width: 400px;
      height: 360px;
      border: none;
      border-radius: 15px;
      margin: 0 30px;
    }

    .contactDetails {
      margin-left: 60px;
      line-height: 40px;

      h3 {
        text-align: left;
        color: #5c4343;
        font-size: calc(19px + 3 * (100vw / 1872));
      }
      p {
        text-align: left;
        font-size: calc(19px + 3 * (100vw / 1872));
      }
    }
  }
}

@media (max-width: 320px) {
  .presentingUnit {
    height: 500px;
    .infoBlock {
      position: absolute;
      top: 20%;
    }
  }

  .listRecomendedProduct {
    .listProduct {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: auto;
      margin: 50px auto;

      .listProduct_elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 220px;
        height: 500px;
        padding: 15px 20px;
        list-style: none;
        border-radius: 15px;
        background: linear-gradient(to bottom, #977979 2%, white 98%);
        overflow: hidden;
        margin: 20px 10px;

        .wrapperByPhoto {
          width: 100%;
          height: 210px;
          overflow: hidden;
          border-radius: 8px;
          box-shadow: 5px 5px 12px #8a7e7e;
          margin-bottom: 10px;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.6s;

            &:hover {
              transform: scale(1.4);
            }
          }
        }

        h3 {
          text-align: center;
          font-size: 1.4rem;
          color: #6e5454;
          margin-bottom: 10px;
          height: 50px;
        }

        .dataProduct {
          font-size: 1.3rem;
          color: #6e5454;
          margin: 10px 0;
          height: 30px;
          line-height: 1.2em;
        }

        .price {
          font-size: 1.5rem;
          font-weight: 600;
          color: #6e5454;
          margin: 10px auto;
        }
      }
    }
  }

  .presentGalery {
    width: 100%;
    height: auto;
    margin-bottom: 90px;

    .presentGalery_textBlock {
      text-align: center;
      width: 80%;
      margin: 0 auto 55px auto;
      h2 {
        font-size: calc(25px + 21 * (100vw / 1872));
        margin-bottom: 10px;
        color: #6e5454;
      }
      p {
        font-size: calc(17px + 5 * (100vw / 1872));
      }
    }

    .presentGalery_listElems {
      display: flex;
      flex-wrap: wrap;
      align-items: left;
      justify-content: center;
      width: 100%;
      height: 90%;

      .listElems_elem {
        position: relative;
        border-radius: 10px;
        width: 306px;
        height: 550px;
        list-style: none;
        overflow: hidden;
        transition: all 0.6s;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.6s;
        }

        .infoProduct {
          position: absolute;
          top: 10%;
          left: 50px;
          width: 80%;
          transition: all 0.6s;
          opacity: 0;

          h3 {
            font-size: calc(19px + 8 * (100vw / 1872));
            color: #f3d1d1;
            font-weight: 700;
            margin-bottom: 7px;
          }

          p {
            font-size: calc(18px + 2 * (100vw / 1872));
            font-weight: 600;
            width: 230px;
            color: white;
            text-align: left;
          }

          button {
            font-size: calc(16.5px + 3.5 * (100vw / 1872));
            font-weight: 600;
            color: white;
            width: 52%;
            height: 50px;
            margin: 1.3rem 0;
            background-color: #ccbcbc;
            border: none;
            border-radius: 15px;
            cursor: pointer;
          }
        }

        &:hover {
          width: 400px;
          img {
            filter: blur(8px);
            transform: scale(1.2);
          }

          .infoProduct {
            opacity: 1;
          }
        }
      }
    }
  }

  .featuring {
    .featuring_wrapperElem {
      flex-wrap: wrap;

      .featuring_elem {
        height: 300px;
      }
    }
  }

  .reviews {
    .listBlock {
      .listBlock_comentBlock {
        width: 500px;
        height: auto;
        margin: 15px 0;

        p {
          margin-bottom: 20px;
        }
      }
    }
  }

  .ourLocation {
    width: 90%;
    height: auto;
    .ourLocation_infoLocation {
      width: 90%;
      margin: 0;
    }
    .ourLocation_locationPopularEstablishm {
      display: flex;
      flex-direction: column;
      iframe {
        width: 90%;
        height: 300px;
      }

      .contactDetails {
        margin-top: 40px;
        padding-left: 0;
      }
    }
  }
}
