$defoltFsz: calc(32px + 16 * (100vw / 1912));
$defoltFszForP: calc(22px + 6 * (100vw / 1912));

.presentingUnit {
  position: relative;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  margin: 0 auto 180px auto;
  .decorationBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    border-radius: inherit;
  }

  .infoBlock {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 60%;
    max-width: 900px;
    min-width: 300px;

    h1 {
      color: white;
      font-size: calc(34px + 18 * (100vw / 1912));
      font-weight: 600;
      margin-bottom: 30px;
    }

    h2 {
      font-size: calc(22px + 6 * (100vw / 1912));
      color: white;
      font-weight: 600;
      max-width: 90%;
      margin-bottom: 20px;
      text-align: left;
    }

    button {
      width: 80%;
      max-width: 300px;
      min-width: 150px;
      height: 60px;
      border: 2px solid white;
      border-radius: 10px;
      background-color: transparent;
      color: white;
      font-size: calc(20px + 4 * (100vw / 1912));
      text-shadow: 0 0 5px white;
      margin-top: 20px;
    }
  }
}

.listRecomendedProduct {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 1700px;
  min-width: 0;
  margin: 0 auto 180px auto;

  h2 {
    font-size: $defoltFsz;
    color: #be9292;
    font-weight: 600;
  }

  p {
    font-size: $defoltFszForP;
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
  }

  .listRecomendedProduct__back_decor {
    position: absolute;
    z-index: -1;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;

    &.hidden {
      opacity: 0;
      transform: translateY(-50px);
    }

    img {
      position: absolute;
      &:nth-child(1) {
        top: -130px;
        left: -160px;
        width: 425px;
        height: auto;
        filter: blur(3px);
        transform: rotate(-9.77deg);
      }
      &:nth-child(2) {
        top: 200px;
        left: 1510px;
        width: 210.38px;
        height: auto;
        filter: blur(2px);
        transform: rotate(24.27deg);
      }
      &:nth-child(3) {
        top: 480px;
        left: 450px;
        width: 300px;
        height: auto;
        filter: blur(3px);
        transform: rotate(40.27deg);
      }
      &:nth-child(4) {
        width: 265.61px;
        height: auto;
        left: 800px;
        top: -150px;
        filter: blur(2px);
        transform: rotate(15.53deg);
      }
      &:nth-child(5) {
        width: 375px;
        height: auto;
        left: -130px;
        top: 820px;
        filter: blur(1.5px);
        transform: rotate(17.96deg);
      }
      &:nth-child(6) {
        width: 300px;
        top: 450px;
        left: 1390px;
        filter: blur(1.8px);
        transform: rotate(20deg);
      }
      &:nth-child(7) {
        width: 280px;
        height: auto;
        left: -280px;
        top: 400px;
        filter: blur(1.7px);
      }
      &:nth-child(8) {
        top: 800px;
        left: 1550px;
        width: 400px;
      }
    }
    @keyframes fadeInSlide {
      0% {
        opacity: 0;
        transform: translateY(-50px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .listProduct,
  .swipper_conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 50px auto;
    z-index: 99;

    .listProduct_elem,
    .swipper_slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 23%;
      max-width: 370px;
      min-width: 270px;
      height: 520px;
      padding: 15px 20px;
      list-style: none;
      border-radius: 15px;
      background: linear-gradient(
        to bottom,
        #be9292 0%,
        #e6c6c6 40%,
        #f8eeee 80%,
        white 100%
      );
      overflow: hidden;
      margin: 20px 10px;

      .wrapperByPhoto {
        width: 100%;
        height: 240px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 5px 5px 12px #a37575;
        margin-bottom: 10px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.6s;

          &:hover {
            transform: scale(1.4);
          }
        }
      }
      h3 {
        text-align: center;
        font-size: calc(19px + 3 * (100vw / 1912));
        color: #885959;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
          color: #412f2f;
        }
      }

      .dataProduct {
        font-size: calc(18px + 2 * (100vw / 1912));
        color: #6e5454;
        height: 30px;
        line-height: 1.15em;
      }

      .price {
        font-size: calc(19px + 3 * (100vw / 1912));
        font-weight: 600;
        color: #6e5454;
        margin: 10px auto;
      }
    }
  }
}

.presentGalery {
  width: 100%;
  height: auto;
  margin-bottom: 200px;

  .presentGalery_textBlock {
    text-align: center;
    width: 80%;
    margin: 0 auto 55px auto;
    h2 {
      font-size: $defoltFsz;
      color: #be9292;
      font-weight: 600;
    }

    p {
      font-size: $defoltFszForP;
    }
  }

  .presentGalery_listElems,
  .swipper_conteiner {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: 90%;

    .listElems_elem,
    .swipper_slide {
      position: relative;
      width: 15%;
      max-width: 350px;
      min-width: 300px;
      height: 550px;
      min-height: 480px;
      list-style: none;
      overflow: hidden;
      transition: all 0.6s;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
        transition: all 0.6s;
      }

      .infoProduct {
        position: absolute;
        top: 10%;
        left: 50px;
        width: 80%;
        transition: all 0.6s;
        opacity: 0;

        h3 {
          font-size: calc(22px + 6 * (100vw / 1912));
          color: white;
          font-weight: 700;
          margin-bottom: 7px;
        }

        p {
          font-size: calc(18px + 2 * (100vw / 1912));
          font-weight: 600;
          width: 230px;
          color: white;
          text-align: left;
        }
      }

      &:hover {
        width: 350px;
        img {
          filter: blur(8px);
          transform: scale(1.2);
        }

        .infoProduct {
          opacity: 1;
        }
      }
    }
  }
}

.featuring {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 250px auto;

  h2 {
    font-size: $defoltFsz;
    color: #be9292;
    font-weight: 600;
    text-align: center;
  }

  .featuring__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: 50px;
    .imeg {
      width: 50%;
      height: auto;
    }

    .content_wrapperElem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      min-width: 300px;

      .wrapperElem_elem {
        display: flex;
        list-style: none;
        height: auto;
        margin-bottom: 40px;

        img {
          width: 17%;
          height: 15%;
          max-width: 150px;
          max-height: 120px;
          min-width: 90px;
          min-height: 50px;
          margin-right: 25px;
        }

        .elem__textContent {
          text-align: left;
          h3 {
            font-size: calc(24px + 8 * (100vw / 1912));
            color: #be9292;
          }
          p {
            font-size: calc(22px + 5 * (100vw / 1912));
            max-width: 550px;
            min-width: 300px;
          }
        }
      }
    }
  }
}

.reviews {
  width: 80%;
  height: auto;
  margin: 0 auto 250px auto;
  padding: 70px 0;
  border-radius: 15px;

  h2 {
    text-align: center;
    font-size: $defoltFsz;
    color: #be9292;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .listBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .listBlock_comentBlock {
      width: 300px;
      height: 390px;
      background-color: white;
      margin: 0 50px 30px 0;
      padding: 15px;
      box-sizing: border-box;
      box-shadow: 4px 2px 10px rgb(165, 162, 162);
      border-radius: 15px;

      .userAccount {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .wrapperPhoto {
          width: 17%;
          padding-bottom: 17%;
          margin-right: 15px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        h3 {
          font-size: calc(17px + 1 * (100vw / 1912));
          font-weight: 600;
        }
      }

      p {
        font-size: calc(18px + 2 * (100vw / 1912));
        padding: 0 30px;
        text-align: left;
        margin-left: 7px;
      }
    }
  }
}

.ourLocation {
  width: 80%;
  height: auto;
  margin: 80px auto;

  .ourLocation_infoLocation {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    h2 {
      font-size: $defoltFsz;
      color: #be9292;
      font-weight: 600;
    }
    p {
      font-size: calc(19px + 1 * (100vw / 1912));
      margin-bottom: 20px;
    }
  }

  .ourLocation_locationPopularEstablishm {
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 15px;
    width: 70%;

    iframe {
      width: 100%;
      height: 360px;
      border: none;
      border-radius: 15px;
      margin: 0 30px;
    }

    .contactDetails {
      margin-left: 60px;
      line-height: 40px;

      .contactDetails__elem {
        margin-bottom: 25px;
        .elem__titleBlock {
          display: flex;
          h3 {
            text-align: left;
            color: #be9292;
            font-size: calc(19px + 3 * (100vw / 1912));
          }
          img {
            width: 40px;
            height: auto;
            margin-right: 15px;
          }
        }

        p {
          text-align: left;
          font-size: calc(19px + 3 * (100vw / 1912));
        }
      }
    }
  }
}

@media (max-width: 1130px) {
  .ourLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .ourLocation_infoLocation {
      text-align: left;
    }
    .ourLocation_locationPopularEstablishm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .iframe {
        margin: 0;
      }
      .contactDetails {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 1112px) {
  .featuring {
    .featuring__content {
      justify-content: center;
      width: 100%;

      .imeg {
        display: none;
      }

      .content_wrapperElem {
        width: 70%;
      }
    }
  }
}

@media (max-width: 854px) {
  .reviews {
    margin: 0 auto 100px auto;
    .listBlock {
      .listBlock_comentBlock {
        width: 500px;
        height: auto;
        padding: 15px 15px 40px 15px;
        margin: 20px 0;

        .userAccount {
          .wrapperPhoto {
            width: 15%;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .listRecomendedProduct {
    .listRecomendedProduct__back_decor {
      img {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 424px) {
  .featuring {
    .featuring__content {
      .content_wrapperElem {
        .wrapperElem_elem {
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
