.dataProduct {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
  width: 60%;
  .dataProduct__incompleteProductDescription {
    display: flex;
    flex-direction: column;
    width: 50%;
    .wrapperPhoto {
      width: 500px;
      height: 380px;
      background-size: cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    }
    .infoBlock {
      display: flex;
      flex-direction: column;
      width: 500px;
      margin: 30px 0;
      h2 {
        font-size: calc(23px + 7 * (100vw / 1912));
        color: #6e5454;
        margin-bottom: 15px;
      }
      p {
        font-size: calc(20px + 4 * (100vw / 1912));
      }
    }
  }
  .dataProduct__extendedData {
    ul {
      h3 {
        font-size: calc(24px + 8 * (100vw / 1912));
        color: #6e5454;
        margin-bottom: 20px;
        position: relative;
        padding: 0 30px;
        width: 200px;

        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 2px;
          background-color: #8f7979;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 2px;
          background-color: #8f7979;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
      h4 {
        font-size: calc(20px + 4 * (100vw / 1912));
        color: #6e5454;
        margin: 20px 0;
      }
      li {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: calc(20px + 4 * (100vw / 1912));
        line-height: 35px;

        input {
          width: 20px;
          height: 19px;
          margin-right: 8px;
        }
      }
    }
  }
  .datProduct__priceBlcok {
    margin: 20px 0;
    p {
      font-size: calc(20px + 4 * (100vw / 1912));
      span {
        font-weight: 600;
      }
    }
  }
  .dataProduct__operationsWithGoods {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px 0;
    button {
      background-color: #6e5454;
      height: 50px;
      color: white;
      font-size: calc(19px + 3 * (100vw / 1912));
      border: none;
      border-radius: 12px;
      padding: 5px 12px;
      transition: all 0.5s;
      &:hover {
        background-color: #8f7979;
      }
    }

    .goodsProcessingOperations {
      display: flex;
      justify-content: space-between;
      button {
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.hiddenModalWindow {
  display: none;
}
.modalWindowWhenAddingCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #6e5454;
  background-color: white;

  .content {
    text-align: center;
    .hideModalWind {
      position: absolute;
      top: 5px;
      left: 90%;
      font-size: calc(23px + 7 * (100vw / 1912));
      border: none;
      cursor: pointer;
    }
    img {
      width: 100px;
      height: auto;
      margin-bottom: 20px;
    }
    .closeModal {
      position: relative;
      top: 8px;
      width: 20px;
      height: auto;
    }
    h2 {
      font-size: calc(20px + 4 * (100vw / 1912));
    }
  }
}
