.dataProduct {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
  width: 60%;
}
.dataProduct .dataProduct__condesedProductDescr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dataProduct .dataProduct__condesedProductDescr .wrapperPhoto {
  width: 500px;
  height: 380px;
  background-size: cover;
}
.dataProduct .dataProduct__condesedProductDescr .wrapperPhoto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.dataProduct .dataProduct__condesedProductDescr .infoBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  margin: 30px 0;
}
.dataProduct .dataProduct__condesedProductDescr .infoBlock h2 {
  font-size: calc(23px + 0.2136752137vw);
  color: #6e5454;
}
.dataProduct .dataProduct__condesedProductDescr .infoBlock .infoBlock__price {
  font-weight: 700;
  font-size: calc(19px + 0.1602564103vw);
  margin: 12px auto;
}
.dataProduct .dataProduct__condesedProductDescr .infoBlock p {
  font-size: calc(17px + 0.0534188034vw);
}
.dataProduct .dataProduct__extendedData ul h3 {
  font-size: calc(19px + 0.1602564103vw);
  color: #6e5454;
  margin-top: 20px;
}
.dataProduct .dataProduct__extendedData ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: calc(18px + 0.1068376068vw);
  line-height: 30px;
}
.dataProduct .dataProduct__extendedData ul li input {
  width: 20px;
  height: 19px;
  margin-right: 8px;
}
.dataProduct .datProduct__priceBlcok {
  margin: 20px 0;
}
.dataProduct .datProduct__priceBlcok p {
  font-size: calc(20px + 0.2136752137vw);
}
.dataProduct .dataProduct__operationsWithGoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  margin: 20px 0;
}
.dataProduct .dataProduct__operationsWithGoods button {
  background-color: #6e5454;
  height: 50px;
  color: white;
  font-size: calc(17px + 0.0534188034vw);
  border: none;
  border-radius: 12px;
  padding: 5px 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.dataProduct .dataProduct__operationsWithGoods button:hover {
  background-color: #8f7979;
}
.dataProduct .dataProduct__operationsWithGoods .goodsProcessingOperations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dataProduct .dataProduct__operationsWithGoods .goodsProcessingOperations button a {
  color: white;
  text-decoration: none;
}

.hiddenModalWindow {
  display: none;
}

.modalWindowWhenAddingCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 30px #6e5454;
          box-shadow: 10px 10px 30px #6e5454;
  background-color: white;
}
.modalWindowWhenAddingCart .content {
  text-align: center;
}
.modalWindowWhenAddingCart .content .hideModalWind {
  position: absolute;
  top: 5px;
  left: 90%;
  font-size: calc(23px + 0.3739316239vw);
  border: none;
  cursor: pointer;
}
.modalWindowWhenAddingCart .content img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
.modalWindowWhenAddingCart .content .closeModal {
  position: relative;
  top: 8px;
  width: 20px;
  height: auto;
}
.modalWindowWhenAddingCart .content h2 {
  font-size: calc(20px + 0.2136752137vw);
}