.dimmingContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.orderProcessingForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: white;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px 20px;
  border-radius: 15px;
  z-index: 10000;
}
.orderProcessingForm .closeForm {
  position: absolute;
  top: 15px;
  left: 90%;
  border: none;
  width: 20px;
  height: auto;
}
.orderProcessingForm .closeForm img {
  width: 100%;
  height: auto;
}
.orderProcessingForm h2 {
  font-size: calc(24px + 0.4273504274vw);
  text-align: center;
  margin-bottom: 20px;
  color: #5c4343;
}
.orderProcessingForm .orderProcessingForm__inputFieldWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.orderProcessingForm .orderProcessingForm__inputFieldWrapper .inputFieldWrapper__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-bottom: 15px;
}
.orderProcessingForm .orderProcessingForm__inputFieldWrapper .inputFieldWrapper__elem label {
  line-height: 40px;
  font-size: calc(18px + 0.1068376068vw);
}
.orderProcessingForm .orderProcessingForm__inputFieldWrapper .inputFieldWrapper__elem input {
  border: 1px solid #5c4343;
  border-radius: 5px;
  padding: 8px 15px;
  width: 400px;
  height: 25px;
  font-size: calc(20px + 0.2136752137vw);
  color: #5c4343;
  outline: none;
}
.orderProcessingForm .orderProcessingForm__inputFieldWrapper .inputFieldWrapper__elem input:focus, .orderProcessingForm .orderProcessingForm__inputFieldWrapper .inputFieldWrapper__elem input:valid {
  outline: 2px solid #5c4343;
}
.orderProcessingForm .orderProcessingForm__otherRegistratioOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.orderProcessingForm .orderProcessingForm__otherRegistratioOptions h3 {
  font-size: calc(17px + 0.0534188034vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.orderProcessingForm .orderProcessingForm__otherRegistratioOptions h3::before, .orderProcessingForm .orderProcessingForm__otherRegistratioOptions h3::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #5c4343;
  margin: 0 10px;
}
.orderProcessingForm .orderProcessingForm__otherRegistratioOptions .otherRegistratioOptions__blockOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin-top: 20px;
}
.orderProcessingForm .orderProcessingForm__otherRegistratioOptions .otherRegistratioOptions__blockOptions .blockOptions__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #5c4343;
  padding: 7px;
  border-radius: 5px;
  width: 165px;
  cursor: pointer;
}
.orderProcessingForm .orderProcessingForm__otherRegistratioOptions .otherRegistratioOptions__blockOptions .blockOptions__elem img {
  margin-right: 6px;
}
.orderProcessingForm .orderProcessingForm__otherRegistratioOptions .otherRegistratioOptions__blockOptions .blockOptions__elem p {
  font-weight: 600;
}
.orderProcessingForm .hiddenForm {
  opacity: 0;
  visibility: hidden;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.wrapper__modal_completeRegistration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: white;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 15px;
  width: 400px;
  z-index: 100000;
}
.wrapper__modal_completeRegistration h2 {
  font-size: calc(21px + 0.2670940171vw);
  color: #5c4343;
  margin-bottom: 20px;
}
.wrapper__modal_completeRegistration p {
  font-size: calc(20px + 0.2136752137vw);
}
.wrapper__modal_completeRegistration img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
.wrapper__modal_completeRegistration button {
  margin: 30px auto 20px auto;
}

.blockIfRegistrAvailable {
  z-index: 100001;
  background-color: #5c4343;
  width: 500px;
  height: 300px;
}
.blockIfRegistrAvailable h2 {
  font-size: calc(23px + 0.3661087866vw);
  color: #5c4343;
}
.blockIfRegistrAvailable ul {
  margin: 15px auto;
}
.blockIfRegistrAvailable ul h3 {
  font-size: calc(21px + 500vw);
}
.blockIfRegistrAvailable ul li {
  list-style: none;
  font-size: calc(19px + 0.1569037657vw);
}