.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 60px auto;
}
.wrapper .orderProcessingForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: auto;
  margin: 30px auto 50px auto;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 30px #6e5454;
          box-shadow: 10px 10px 30px #6e5454;
  background-color: white;
}
.wrapper .orderProcessingForm .orderProcessingForm__titleBlock {
  margin: 10px 0;
  text-align: center;
}
.wrapper .orderProcessingForm .orderProcessingForm__titleBlock h1 {
  color: #6e5454;
  font-size: calc(22px + 0.3205128205vw);
}
.wrapper .orderProcessingForm .orderProcessingForm__titleBlock p {
  margin: 0 auto;
  width: 90%;
  font-size: calc(18px + 0.1068376068vw);
}
.wrapper .orderProcessingForm h3 {
  font-size: calc(20px + 0.2136752137vw);
  text-align: center;
  color: #6e5454;
}
.wrapper .orderProcessingForm .closeOrderingBlock {
  position: absolute;
  top: 5px;
  left: 93%;
  border: none;
  font-size: calc(19px + 0.1602564103vw);
  font-weight: 700;
  cursor: pointer;
}
.wrapper .orderProcessingForm .orderProcessingForm__inputFieldWrapper .inputFieldWrapper__elem {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .orderProcessingForm .orderProcessingForm__inputFieldWrapper .inputFieldWrapper__elem label {
  line-height: 40px;
  font-size: calc(17px + 0.0534188034vw);
}
.wrapper .orderProcessingForm .orderProcessingForm__inputFieldWrapper .inputFieldWrapper__elem input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 8px;
  margin-bottom: 10px;
  height: 30px;
  font-size: calc(19px + 0.1602564103vw);
}
.wrapper .modalIfDataExists {
  position: relative;
  top: 10px;
  left: 100px;
  width: 300px;
}
.wrapper .modalIfDataExists h1 {
  font-size: calc(23px + 0.3739316239vw);
  color: #6e5454;
}
.wrapper .modalIfDataExists p {
  font-size: calc(21px + 0.2670940171vw);
}
.wrapper .modalIfDataExists img {
  position: absolute;
  left: -500px;
  top: 80px;
}