@mixin modalWindow($padding) {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: $padding;
  border-radius: 15px;
}

.dimmingContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.orderProcessingForm {
  @include modalWindow(30px 20px);
  z-index: 10000;

  .closeForm {
    position: absolute;
    top: 15px;
    left: 90%;
    border: none;
    width: 20px;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  h2 {
    font-size: calc(24px + 8 * (100vw / 1912));
    text-align: center;
    margin-bottom: 20px;
    color: #5c4343;
  }

  .orderProcessingForm__inputFieldWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputFieldWrapper__elem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      margin-bottom: 15px;

      label {
        line-height: 40px;
        font-size: calc(18px + 2 * (100vw / 1912));
      }

      input {
        border: 1px solid #5c4343;
        border-radius: 5px;
        padding: 8px 15px;
        width: 400px;
        height: 25px;
        font-size: calc(20px + 4 * (100vw / 1912));
        color: #5c4343;
        outline: none;

        &:focus,
        &:valid {
          outline: 2px solid #5c4343;
        }
      }
    }
  }

  .orderProcessingForm__otherRegistratioOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    h3 {
      font-size: calc(17px + 1 * (100vw / 1912));
      display: flex;
      align-items: center;
      justify-content: center;

      &::before,
      &::after {
        content: "";
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: #5c4343;
        margin: 0 10px;
      }
    }

    .otherRegistratioOptions__blockOptions {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-top: 20px;

      .blockOptions__elem {
        display: flex;
        flex-grow: 0;
        align-items: center;
        justify-content: center;
        border: 1px solid #5c4343;
        padding: 7px;
        border-radius: 5px;
        width: 165px;
        cursor: pointer;

        img {
          margin-right: 6px;
        }
        p {
          font-weight: 600;
        }
      }
    }
  }
  .hiddenForm {
    opacity: 0;
    visibility: hidden;
  }
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.wrapper__modal_completeRegistration {
  @include modalWindow(10px 20px);
  width: 400px;
  z-index: 100000;

  h2 {
    font-size: calc(21px + 5 * (100vw / 1912));
    color: #5c4343;
    margin-bottom: 20px;
  }

  p {
    font-size: calc(20px + 4 * (100vw / 1912));
  }

  img {
    width: 200px;
    height: auto;
    margin: 0 auto;
  }

  button {
    margin: 30px auto 20px auto;
  }
}

.blockIfRegistrAvailable {
  z-index: 100001;
  background-color: #5c4343;
  width: 500px;
  height: 300px;

  h2 {
    font-size: calc(23px + 7 * (100vw / 1912));
    color: #5c4343;
  }

  ul {
    margin: 15px auto;

    h3 {
      font-size: calc(21px + 5 * (100vw));
    }

    li {
      list-style: none;
      font-size: calc(19px + 3 * (100vw / 1912));
    }
  }
}
