.presentableUnit {
  width: 50%;
  height: 60%;
  margin: 20px auto 120px auto;
}
.presentableUnit .presentableUnit__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}
.presentableUnit .presentableUnit__card .wrapperImg {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.presentableUnit .presentableUnit__card .wrapperImg img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}
.presentableUnit .presentableUnit__card h1 {
  font-size: 2.1rem;
  font-weight: 600;
  width: 300px;
}
.presentableUnit .presentableUnit__card h1 span {
  color: #6e5454;
}
.presentableUnit .presentableUnit__card:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: right;
  margin-bottom: 90px;
}
.presentableUnit .presentableUnit__card:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: left;
}

.popularProducts {
  width: 100%;
  height: auto;
  margin: 0 auto 90px auto;
}
.popularProducts h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: calc(27px + 1.1217948718vw);
}
.popularProducts .popularProducts__listElems {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popularProducts .popularProducts__listElems .listElems__elem {
  position: relative;
  width: 400px;
  height: 400px;
  list-style: none;
  border-radius: 10px;
  margin: 0 10px;
  background-size: cover;
  -webkit-box-shadow: inset 0 -60px 80px #6e5454;
          box-shadow: inset 0 -60px 80px #6e5454;
}
.popularProducts .popularProducts__listElems .listElems__elem .elem__productData {
  position: absolute;
  top: 80%;
  left: 15px;
  color: white;
}
.popularProducts .popularProducts__listElems .listElems__elem .elem__productData h3 {
  font-size: calc(13px + 0.2670940171vw);
}
.popularProducts .popularProducts__listElems .listElems__elem .elem__productData p {
  font-size: calc(13px + 0.2670940171vw);
}

.productFinder {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  background-color: white;
  z-index: 1000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 90px;
}
.productFinder .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60%;
}
.productFinder .content .inputBlock {
  width: 60%;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.productFinder .content .inputBlock img {
  position: relative;
  top: 5px;
  width: 24px;
  height: auto;
  margin-right: 10px;
  opacity: 0.3;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.productFinder .content .inputBlock .searchInput {
  width: 60%;
  height: 90%;
  padding: 0 14px;
  font-size: 19px;
  border: none;
  border-radius: 24px;
}
.productFinder .content .inputBlock:hover img {
  opacity: 1;
}
.productFinder .content .listSortingOptions {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.productFinder .content .listSortingOptions li {
  list-style: none;
  cursor: pointer;
  font-size: calc(18px + 0.1068376068vw);
}
.productFinder .content .listSortingOptions li.active {
  color: #6e5454;
  font-weight: 700;
  font-size: calc(18px + 0.1068376068vw);
}

.wrapperAllListsProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: auto;
  margin: 60px auto;
}
.wrapperAllListsProducts .wrapperListProds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapperAllListsProducts .wrapperListProds .wrapperListProds__textContent {
  position: relative;
  width: 700px;
  top: 0;
  left: -290px;
  margin-bottom: 20px;
}
.wrapperAllListsProducts .wrapperListProds .wrapperListProds__textContent h2 {
  font-size: calc(25px + 0.4807692308vw);
  margin-bottom: 15px;
  color: #6e5454;
}
.wrapperAllListsProducts .wrapperListProds .wrapperListProds__textContent p {
  font-size: calc(19px + 0.1602564103vw);
}
.wrapperAllListsProducts .wrapperListProds.hidden {
  display: none;
}
.wrapperAllListsProducts .wrapperListProds .listProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 20px auto 90px auto;
}
.wrapperAllListsProducts .wrapperListProds .listProducts li {
  position: relative;
  width: 390px;
  height: 350px;
  list-style: none;
  margin: 0 30px 30px 30px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px;
}
.wrapperAllListsProducts .wrapperListProds .listProducts li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 -90px 100px #6e5454;
          box-shadow: inset 0 -90px 100px #6e5454;
  z-index: 2;
  pointer-events: none;
}
.wrapperAllListsProducts .wrapperListProds .listProducts li .productImgBlock {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.wrapperAllListsProducts .wrapperListProds .listProducts li .productImgBlock img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapperAllListsProducts .wrapperListProds .listProducts li .productInfo {
  position: absolute;
  top: 210px;
  left: 20px;
  color: white;
  z-index: 2;
}
.wrapperAllListsProducts .wrapperListProds .listProducts li .productInfo h3 {
  color: #ffffff;
  font-size: calc(15px + 0.2670940171vw);
}
.wrapperAllListsProducts .wrapperListProds .listProducts li .productInfo .price {
  margin: 10px 0;
  font-size: calc(15px + 0.2670940171vw);
}
.wrapperAllListsProducts .wrapperListProds .listProducts li:hover .productImgBlock {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}