.productQuantityControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  margin: 10px 0 20px 0;
}
.productQuantityControl button {
  background-color: #6e5454;
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: calc(18px + 0.1068376068vw);
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.productQuantityControl button:hover {
  background-color: #8f7979;
}
.productQuantityControl p {
  font-size: calc(19px + 0.1602564103vw);
  font-weight: 600;
  color: black;
}